# Python
__pycache__/
*.py[cod]
venv/
.env

# VS Code
.vscode/

# K8s / Helm
*.kubeconfig
charts/

# Outputs (keep examples only)
# *.json  # committing for portfolio
!examples/*.json

# GCP
credentials.json
*.tfstate
*.tfstate.*

# Nexmark (if you build locally)
nexmark/target/

# Txt Notes (vs .md official)
docs/*.txt